-# N0TE EDIT VIEW
#edit-ctrl.content-wrapper(ng-controller="EditNote")
  #note-info
    = hidden_field_tag(:note_title, @note[:title])
    = hidden_field_tag(:note_body, @note[:body])
    = hidden_field_tag(:note_url, note_url(@note_id))
    = hidden_field_tag(:note_last_saved, @note[:last_saved])
    = hidden_field_tag(:new_note_title, @note[:title])
    %input#new_note_body{ :type => "hidden", "ng-model" => "note.title"}
  .navbar
    .navbar-inner
      .container
        %a.brand(href="#change-title" data-toggle="modal" ng-bind="note.title")
        = link_to '<i class="icon-trash" ></i> Delete'.html_safe, 
                note_path(@note_id), 
                :method => "delete", 
                :class => "btn btn-danger pull-right", 
                :confirm => "Are you sure you wish to delete '#{@note[:title]}'"
        %a.btn.btn-warning.pull-right(ng-click="reset()" ng-disabled="isClean()") 
          %i.icon-arrow-left
          Revert
        %ul.nav.pull-right
          %li.divider-vertical
        %a.btn.btn-primary.pull-right
          %i.icon-ok
          Done
        %a.btn.btn-success.pull-right(ng-disabled="isClean()" ng-click="update()")
          %i.icon-download-alt
          Save
        %ul.nav.pull-right
          %li.divider-vertical
  .note-body
    #note-toolbar.btn-toolbar
      .btn-group
        %a#tb-undo.btn.btn-small(href="" rel="tooltip" title="Undo")
          %i.icon-chevron-left
        %a#tb-redo.btn.btn-small(href="" rel="tooltip" title="Redo")
          %i.icon-chevron-right
      .btn-group
        %a#tb-bold.btn.btn-small(href="" rel="tooltip" title="Bold")
          %i.icon-bold
        %a#tb-italic.btn.btn-small(href="" rel="tooltip" title="Italic")
          %i.icon-italic
      .btn-group
        %a#tb-link.btn.btn-small(href="#insert-link-dialog" data-toggle="modal" rel="tooltip" title="Add Link")
          %i.icon-globe
      %small.pull-right.muted Last Saved: {{note.last_saved}}
    #note-editor
  
  #change-title.modal.hide.fade
    .modal-header
      %h3 Rename Note
    .modal-body
      %input{ :type => "text", "ng-model" => "note.title"}
    .modal-footer
      .btn(data-dismiss="modal" ng-click="reset('title')") Close
      .btn.btn-primary(data-dismiss="modal") Rename

  #insert-link-dialog.modal.hide.fade
    .modal-header
      %h3 Insert Link
    .modal-body
      %label(for="il-title") Text to display
      %input#il-title(type="text" placeholder="Title")
      %label(for="il-url") Link to
      %input#il-url(type="text" placeholder="URL")
    .modal-footer
      .btn(data-dismiss="modal") Close
      #il-submit.btn.btn-primary(data-dismiss="modal") Insert Link
