!!! 5
%html(ng-app)
  %head
    %title Mynotes
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    #app-container
      #app-header.navbar.navbar-fixed-top
        .navbar-inner
          .container
            %img#header-logo{:src => "http://www.personal.com/cms/images/gemware-logo.png"}
            %a.btn.btn-primary.pull-right Login
      .container-fluid
        .row-fluid
          #app-sidebar.span3(ng-controller="NotesCtrl")
            .row-fluid
              .span2
                %i.icon-search.pull-right
              .span10
                %input#search-input.input-medium(type="text" ng-model="search" placeholder="Search")
            .rowfluid
              .span12
                %input#index-url(type="hidden" value="#{notes_url}")
                %ul.nav.nav-list
                  %li.nav-header 
                    Notes ({{note_count}})
                    %a.pull-right(href="" ng-click="refreshNotes()" ng-disabled="refreshing")
                      %i.icon-refresh
                  %li(ng-repeat="note in notes | filter:search | orderBy:'last_saved'")
                    %a{:href => "#{notes_path}/{{note.id}}"} 
                      %i.icon-file
                      {{note.title}}
                  %li.divider
                  %li 
                    %a{:href => "#{new_note_path}"}
                      %i.icon-plus-sign
                      Add New Note...
          #app-body.span9
            = yield
      
    = javascript_include_tag "application"
