!!! 5
%html(ng-app)
  %head
    %title Mynotes
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body
    #app-container
      #app-header.navbar.navbar-fixed-top
        .navbar-inner
          .container
            %img#header-logo{:src => "http://www.personal.com/cms/images/gemware-logo.png"}
            - if @logged_in
              %a.btn.pull-right{:href => "#{new_note_path}?logout=1"}
                Log Out
            -else
              %a.btn.btn-primary.pull-right{:href => oauth_url }
                Login
      .container-fluid
        .row-fluid
          #app-sidebar.span3(ng-controller="NotesCtrl")
            .row-fluid
              .span2
                %i.icon-search.pull-right
              .span10
                %input#search-input.input-medium(type="text" ng-model="search" placeholder="Search")
            .btn-toolbar
              .btn-group
                %span &nbsp;&nbsp;
                %span.muted Notes (
                %span.muted(ng-bind="notes.length")
                %span.muted )
              .btn-group.pull-right
                %span &nbsp;&nbsp;
              .btn-group.pull-right
                %button.btn.btn-mini.btn-info(href="#" ng-click="refreshNotes()" ng-disabled="refreshing")
                  %i.icon-refresh.icon-white
              .btn-group.pull-right
                %a.btn.btn-mini.dropdown-toggle(data-toggle="dropdown" href="#")
                  Sort
                  %span.caret
                %ul.dropdown-menu
                  %a(href="#" ng-click="predicate = 'title'") 
                    Title (A-Z)
                    %i.icon-arrow-up
                  %a(href="#" ng-click="predicate = '-title'") 
                    Title (Z-A)
                    %i.icon-arrow-down
                  %a(href="#" ng-click="predicate = '-last_saved'") 
                    Date (Newest First)
                    %i.icon-arrow-up
                  %a(href="#" ng-click="predicate = 'last_saved'") 
                    Date (Oldest First)
                    %i.icon-arrow-down
            .row-fluid
              %input#index-url(type="hidden" value="#{notes_url}")
              .span12
                %ul.nav.nav-list
                  %li(ng-repeat="note in notes | filter:search | orderBy:predicate" ng-class="note.state")
                    %a.ng-cloak{:href => "{{note.href}}", :title => "Last Saved: {{note.last_saved}}"} 
                      %i.icon-file
                      %span(ng-bind="note.title")
                  %li.divider
                  %li 
                    %a{:href => "#{new_note_path}"}
                      %i.icon-plus-sign
                      Add New Note...
          #app-body.span9
            = yield
      
    %script(type="text/javascript" src="/closure/goog/base.js")
    = javascript_include_tag "application"
